---
layout: default
---

<article id="post">
	<a href="#" class="icon-fullscreen r" title="点击全屏显示"></a>
	<div class="c9">
		分类：
			{%for cg in page.categories%}
			<a href="/category.html#{{cg}}">{{cg}}</a>
			{%if forloop.index < forloop.length %}
			,
			{%endif%}
			{%endfor%}
		&emsp;&emsp;&emsp;&emsp;
		标签：{{ page.tags | join: ', ' }}
		&emsp;&emsp;&emsp;&emsp;
		<time date="{{ page.date }}">{{ page.date|date: "%Y-%m-%d"}}</time>
	</div>

	{{ content }}

	<div class="eof"><b>---------------------------------------------- the end ------------------------------------------</b></div>

	<hr />
	<div class="page fix">
		{%if page.previous%}
		<span class="prev"><a href="{{page.previous.url}}">←《{{page.previous.title}}》</a></span>
		{%endif%}
		{%if page.next%}
		<span class="next"><a href="{{page.next.url}}">《{{page.next.title}}》→</a></span>
		{%endif%}
	</div>
	<hr />
</article>
